/* Russo One */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* 강원교육체 */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 바른공군체 */
@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Bitter */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap');
/* font-family: 'Bitter', serif; */



#title_header{
    position: relative;
    margin: 5vh;
}

.title {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Bitter', serif;;
    font-size: 7vw;
    top: 3vh;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.create {
    display: flex;
    position: relative;
    justify-content: end;
    font-family: 'Bitter', serif;;
    font-size: 4vw;
    top: 3vh;
    right: 1vw;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
}

.create:hover {
    color:blue;
}

#moment {
    position: absolute;
    font-family: 'Bitter', serif;
    font-size: 1.8vw;
    font-weight: 900;
    bottom: -15vh;
    left: 8vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #F9F7F1;
    margin-top: 17vh;
    margin-bottom: 17vh;
    border-style: double;
    border-width: 0.5vw;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;

}

#status{
    position: relative;
    font-size: 4vw;
    font-family: 'Bitter', serif;
    font-weight: 900;
    text-align: center;
    margin: 5vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#logo{
    position: absolute;
    width: 6vw;
    top: 1vh;
    right: 0.5vw;
}

#status_title {
    position: relative;
    font-family: 'Bitter', serif;
    font-weight: 900;
    font-size: 2.5vw;
    margin: 2vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-style: double;
    border-width: 0.3vw;
}

#status_kor{
    position: absolute;
    font-family: 'ROKAFSansBold';
    font-size: 1.6vw;
    right: 0.5vw;
    top: 1.5vh;
}


#box1 {
    background-color: #ffffff;
    /* background-color: #ffc983; */
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 35vh;
}

#list_img {
    position: relative;
    width: 21vw;
    margin: 2vw;
    top: 4vh;
    padding:1px;
    border:5px solid #ffcbcb;

}

#box2 {
    background-color: #ffffff;
    /* background-color: #ffc983; */
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 8vh;
}

#list_text {
    position: relative;
    display: flex;
    width: 21vw;
    justify-content: center;
    top: 1.5vh;
    margin: 1vw;
    font-size: 1.5vw;
    font-family: 'ROKAFSansBold';
    font-weight: bold;
}

#box3 {
    background-color: #ffffff;
    /* background-color: #ffc983; */
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 6vh;
}

#list_date {
    position: relative;
    display: flex;
    width: 21vw;
    justify-content: center;
    margin: 0 1vw;
    font-size: 1.2vw;
    font-family: 'ROKAFSansMedium';
}

#box4 {
    background-color: #ffffff;
    /* background-color: #ffc983; */
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 8vh;
}

#status_buttonbox {
    justify-content: center;
    margin: 0 2vw;
}

#status_button {
    margin: 0 0.7vw;
    width: 9vw;
    height: 4vh;
    font-size: 1vw;
    font-family: 'ROKAFSansMedium';
    text-align: center;
    background-color: #ffffff;
    cursor: pointer; 
}

#status_button:hover{
    color:#fff;
    background-color: black;
}


