@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');


*, *:before, *:after {
  box-sizing: border-box;
}

/* body {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
} */

.container {
    z-index: -1;
  position: absolute;
  /* width: 85vw; */
  /* height: 75vh; */
  width: 96.2vw;
  height: 92vh;
  /* left: 7vw; */
  /* top: 13vh; */
  left: 1.9vw;
  top: 4vh;
  overflow: hidden;
}

/* margin-left: 200px; */
/* transform-origin: -200px 50%; */
/* .container:hover .top:before, .container:hover .top:after, .container:hover .bottom:before, .container:hover .bottom:after, .container:active .top:before, .container:active .top:after, .container:active .bottom:before, .container:active .bottom:after { */
/* .container .top:before, .container .top:after, .container .bottom:before, .container .bottom:after, .container .top:before, .container .top:after, .container .bottom:before, .container .bottom:after { */
.container:hover .top:before, .container:hover .top:after, .container:hover .bottom:before, .container:hover .bottom:after {
  margin-left: 13vw;
  transform-origin: -13vw 50%;
  transition-delay: 0s;
}
/* .container:hover .center, .container:active .center { */
.container .center, .container:active .center {
  z-index: 10;
  opacity: 1;
  transition-delay: 0.2s;
}

.top:before, .top:after, .bottom:before, .bottom:after {
  content: "";
  display: block;
  position: absolute;
  width: 200vmax;
  height: 200vmax;
  top: 50%;
  left: 50%;
  margin-top: -100vmax;
  transform-origin: 0 50%;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  z-index: 10;
  opacity: 0.65;
  transition-delay: 0.2s;
}

.top:before {
  transform: rotate(45deg);
  /* background: #e46569; */
  /* background: #FB71AB; */
  background: #FEA6CB;
}
.top:after {
  transform: rotate(135deg);
  background: #FEA6CB;
}
/* background: #ecaf81; */

.bottom:before {
  transform: rotate(-45deg);
  /* background: #60b8d4; */
  background: #BAF0E8;
}
.bottom:after {
    transform: rotate(-135deg);
    background: #BAF0E8;
}
/* background: #3745b5; */
/* background: #3AFACB; */

.center {
  position: absolute;
  /* width: 400px;
  height: 400px; */
  width: 26vw;
  height: 26vh;
  top: 50%;
  left: 50%;
  /* margin-left: -200px; */
  /* margin-top: -200px; */
  margin-left: -13vw;
  margin-top: -26vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
  padding: 3vh;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay: 0s;
  color: #333;
}
.center input {
  /* width:100%; */
  /* width:50vw; */
  /* padding: 15px; */
  /* padding: 1.5vh; */
  margin: 5px;
  border-radius: 0.5vh;
  /* border: 1px solid #ccc; */
  border: 1px solid rgba(204, 204, 204, 0);
  /* font-family: inherit; */
   font-family: 'Bitter', serif;
}

.signin {
  position: absolute;
  width: 20vw;
  height: 3vh;
  left: 3vw;
  top: 10vh;
  
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-size: 2.3vw;
  /* line-height: 60px; */
  text-align: center;
  
  color: #000000;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.id {
    position: absolute;
    width: 21vw;
    height: 4.5vh;
    left: 2.3vw;
    top: 18vh;
    
    background: #FEFFF8;
    background-image: url(https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/24/000000/external-email-advertising-kiranshastry-gradient-kiranshastry-7.png);
    background-repeat: no-repeat;
    background-position: 0.2vw center;
    padding-left: 2vw;
    /* box-shadow: 0.0vw 0.2vw 0.5vw 0.0vw #f1d2a1; */
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #f1d2a1;
    /* box-shadow: 6px 6px 10px 3px #F5EAD8; */
    border-radius: 2vh;
}

.password {
    position: absolute;
    width: 21vw;
    height: 4.5vh;
    left: 2.3vw;
    top: 25.5vh;
    
    background: #FEFFF8;
    background-image: url(https://img.icons8.com/external-xnimrodx-lineal-gradient-xnimrodx/24/000000/external-lock-digital-marketing-xnimrodx-lineal-gradient-xnimrodx.png);
    background-repeat: no-repeat;
    background-position: 0.2vw center;
    padding-left:2vw;
    /* box-shadow: 0.0vw 0.2vw 0.5vw 0.0vw #f1d2a1; */
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #f1d2a1;
    /* box-shadow: 0.0vw 0.1vw 0.5vw 0.1vw #f1d2a1; */
    /* box-shadow: 6px 6px 10px 3px #F5EAD8; */
    border-radius: 2vh;
}

.signinbtn {
    position: absolute;
    width: 8vw;
    height: 4vh;
    left: 9vw;
    top: 33.5vh;
    
    background: #FEFFF8;
    mix-blend-mode: normal;
    /* box-shadow: 0px 5px 5px 5px #F5EAD8; */
    /* box-shadow: 0.2vw 0.2vw 0.2vw 0.2vw #fae7c8; */
    box-shadow: 0.0vw 0.0vw 0.2vw 0.2vw #fae7c8;
    border-radius: 3vh;

    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    /* line-height: 5vh; */
    /* identical to box height */

    text-align: center;

    color: #9F824D;
}

.login {
    position: absolute;
    width: 7vw;
    height: 6vh;
    left: 9.8vw;
    top: 38.5vh;

    /* font-family: 'Russo One'; */
    /* font-family: 'ROKAFSansMedium'; */
    font-family: 'GangwonEdu_OTFBoldA';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 5vh;
    text-align: center;
    text-decoration: none;

    /* color: #746240; */
    /* color: #77A3A9; */
    color: #2d717a;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RussoOne";
    src: url(../fonts/RussoOne-Regular.ttf);
  }

  @font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}