/* Russo One */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* 강원교육체 */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Bitter */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap');
/* font-family: 'Bitter', serif; */





.title {
    position: relative;
    display: flex;
    margin-top: 10vw;
    justify-content: center;
    font-family: 'Bitter', serif;
    font-size: 7vw;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    position: relative;
    background-color: #F9F7F1;
    margin: 6vw 10vw;
    border-radius: 10px;
    border-style: double;
    border-width: 0.4vw;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#subtitle {
    font-family: 'Bitter', serif;
    font-size: 2vw;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2vw;
}

#info {
    font-family: 'Bitter', serif;
    font-size: 4vw;
    text-align: center;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5vw;
}

#logo{
    position: absolute;
    width: 6vw;
    top: 1vh;
    right: 0.5vw;
}

#main_div {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.5vw;
    line-height: 6vh;
}

#poll_input {
    width: 50vw;
    height: 4vh;
    margin: 0 1vw;
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
    padding-top: 1vh;
}

#poll_input2 {
    width: 50vw;
    height: 15vh;
    margin: 0 1vw;
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
    padding-top: 1vh;
}

#poll_input3 {
    position: relative;
    width: 4.5vw;
    height: 4.5vh;
    /* margin-left: 1 vw; */
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
}

#image_button {
    width: 5vw;
    height: 4.7vh;
}

#poll_image {
    width: 18vw;
}

#check_div {
    display: flex;
    justify-content: center;
}

#check_text {
    position: relative;
    bottom: 1vh;
    right: 0.5vw;
}

#poll_savebox {
    height: 15vh;
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    margin: 2vw;
}


#poll_save{
    color: black;
    font-size: 2vw;
    text-decoration: none;
    margin: 2vw;
    position: relative;
    left: 45vw;
    border: none;
    background-color: transparent;
    font-family: 'GangwonEdu_OTFBoldA';
    cursor: pointer;
}


#poll_back {
    color: black;
    font-size: 2vw;
    text-decoration: none;
    position: relative;
    left: 47vw;
}