/* Russo One */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* 강원교육체 */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Bitter */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap');
/* font-family: 'Bitter', serif; */





.title {
    position: relative;
    display: flex;
    margin-top: 10vw;
    justify-content: center;
    font-family: 'Bitter', serif;
    font-size: 7vw;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #201e1ef1;
}

.container {
    position: relative;
    background-color: #F9F7F1;
    margin: 5vw 15vw;
    border-radius: 10px;
    border-style: double;
    border-width: 0.4vw;
    margin-bottom: 1vw;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#subtitle {
    font-family: 'Bitter', serif;
    font-size: 1.5vw;
    font-weight: 900;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    padding: 2vw;
    color: #201e1ef1;
}

#info {
    font-family: 'Bitter', serif;
    font-size: 4vw;
    text-align: center;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 3vw;
}

#logo{
    position: absolute;
    width: 6vw;
    top: 1vh;
    right: 0.5vw;
}

#box1 {
    border-top-style: double;
    margin-left: 3vw;
    margin-right: 3vw;
    border-width: 0.4vw;
}


#box2 {
    margin: 2vw;
    height: 65vh;
}

#no_image {
    width: 15vw;
    margin-left: 5vw;
    border-radius: 10px;
    
}

#poll_image {
    width: 15vw;
    max-height: 16vw;
    margin-left: 5vw;
    border-radius: 10px;
    margin-top: 2.5vh;
}

#poll_title {
    position: absolute;
    font-family: 'Bitter', serif !important;
    font-size: 1.5vw;
    font-weight: 900;
    right: 6vw;
    top: 30vh;
}

#poll_title2 {
    position: absolute;
    font-family: 'Bitter', serif !important;
    font-size: 1.5vw;
    font-weight: 900;
    right: 6vw;
    top: 39vh;
}
#poll_title3 {
    position: absolute;
    font-family: 'Bitter', serif !important;
    font-size: 1.5vw;
    font-weight: 900;
    right: 6vw;
    top: 47vh;
}

#poll_title4 {
    position: absolute;
    font-family: 'Bitter', serif !important;
    font-size: 1.5vw;
    font-weight: 900;
    /* right: 6vw; */
    width: 80%;
    top: 57vh;
    left: 18.5vw;
}

#poll_title5 {
    position: absolute;
    font-family: 'Bitter', serif !important;
    font-size: 1.5vw;
    font-weight: 900;
    /* right: 6vw; */
    width: 100%;
    top: 68vh;
    left: -1vw;
}

#poll_title6 {
    position: absolute;
    font-family: 'Bitter', serif !important;
    font-size: 1.5vw;
    font-weight: 900;
    /* right: 6vw; */
    width: 100%;
    top: 68vh;
    left: 3vw;
}



#datepick {
    margin: 0 10vw !important;
    width: 5vw !important;
}


#input_name{
    position: relative;
    margin: 2vh;
    padding-top: 2vh;
    right: 0.5vw;
}

#input_name2{
    position: relative;
    top: 1vh;
    margin: 0 2vh;
    vertical-align: middle;
}

#input_name3{
    margin: 2vh;
    padding-top: 2vh;
    position: relative;
    right: 1.8vw;
}

#input_name4{
    position: relative;
    margin: 6vw;
    margin-left: 9.5vw;
    vertical-align: middle;
}

#input_name5{
    position: relative;
    margin: 6vw;
    margin-left: 11.3vw;
    vertical-align: middle;
    top:4vh;
}

#input_name6{
    position: relative;
    margin: 1vw;
    margin-left: 5vw;
    vertical-align: middle;
    top: 20vh;
    font-family: 'Bitter', serif !important;
    font-size: 1.5vw;
    font-weight: 900;
}

#title_input {
    width: 25vw;
    height: 3vh;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.3vw;
    /* margin: 0 1vw; */
    text-align: center;

}

#check_div {
    position: absolute;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.3vw;
    left: 24vw;
    bottom: -1vh;
}

#checkbox {
    font-family: 'GangwonEdu_OTFBoldA';
}




#main_div {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.5vw;
    line-height: 6vh;
}

#poll_input {
    width: 50vw;
    height: 4vh;
    margin: 0 1vw;
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
    padding-top: 1vh;
}

#poll_input2 {
    width: 34.1vw;
    height: 15vh;
    margin: 0 vw;
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
    padding-top: 1vh;
    right: 1vw;
}

#poll_input3 {
    position: relative;
    width: 3vw;
    height: 3vh;
    /* margin-left: 1 vw; */
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
}


#check_text {
    position: relative;
    bottom: 0.5vh;
    right: vw;
}

#poll_savebox {
    height: 10vh;
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    margin: 2vw;
}


#poll_save{
    color: black;
    font-size: 2vw;
    text-decoration: none;
    margin: 1vw;
    position: relative;
    left: 35.5vw;
    border: none;
    background-color: transparent;
    font-family: 'GangwonEdu_OTFBoldA';
    cursor: pointer;
}
#poll_save2{
    color: black;
    font-size: 2vw;
    text-decoration: none;
    margin: 1vw;
    position: relative;
    left: 39vw;
    border: none;
    background-color: transparent;
    font-family: 'GangwonEdu_OTFBoldA';
    cursor: pointer;
}
#poll_delete{
    color: black;
    font-size: 2vw;
    text-decoration: none;
    margin: 1vw;
    position: relative;
    left: 35vw;
    border: none;
    background-color: transparent;
    font-family: 'GangwonEdu_OTFBoldA';
    cursor: pointer;
}

#poll_save:hover{
    color: blue;
}
#poll_save2:hover{
    color: blue;
}
#poll_delete:hover{
    color: red;
}


#poll_back {
    color: black;
    font-size: 2vw;
    text-decoration: none;
    position: relative;
    left: 35vw;
}
#poll_back2 {
    color: black;
    font-size: 2vw;
    text-decoration: none;
    position: relative;
    left: 40vw;
}
#poll_back:hover {
    color: rgb(255, 0, 212);

}
#poll_back2:hover {
    color: red

}