.history_title {
  font-family: "RussoOne";
  font-size: 60px;
  padding-right: 110px;
  padding-top: 100px;
  text-align: right;
}

.contents {
  position: relative;
  padding-top: 200px;
}

.history_container {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.history_item:nth-child(odd) {
  box-shadow: 100px 100px 100px 0 rgb(0 0 0 / 55%);
  transition: all 0.5s;
  width: 690px;
  height: 420px;
  object-fit: fill;
  float: left;
  margin-top: -150px;
  z-index: 2;
}

.history_item:nth-child(even) {
  box-shadow: 100px 100px 100px 0 rgb(0 0 0 / 55%);
  transition: all 0.5s;
  width: 420px;
  height: 690px;
  object-fit: fill;
  float: right;
  margin-top: -50px;
  z-index: 3;
}

.history_itemlist {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
}

li {
  list-style: none;
}
