.history_title {
  font-family: "RussoOne";
  font-size: 60px;
  padding-right: 230px;
  padding-top: 200px;
  text-align: right;
}

.history_container {
  padding-top: 300px;
  /* max-width: 1024px; */
  max-width: 53vw;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.history_itemlist {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}

.history_item:nth-child(odd) {
  box-shadow: 100px 100px 100px 0 rgb(0 0 0 / 55%);
  transition: all 0.5s;
  width: 690px;
  height: 420px;
  float: left;
  margin-top: -150px;
  position: relative;
  z-index: 2;
}

.history_item:nth-child(4n + 2) {
  box-shadow: 100px 100px 100px 0 rgb(0 0 0 / 55%);
  transition: all 0.5s;
  width: 420px;
  height: 690px;
  float: right;
  margin-top: -150px;
  position: relative;
  z-index: 1;
}

.history_item:nth-child(4n) {
  box-shadow: 100px 100px 100px 0 rgb(0 0 0 / 55%);
  transition: all 0.5s;
  width: 420px;
  height: 690px;
  float: left;
  margin-top: -100px;
  margin-left: -80px;
  position: relative;
  z-index: 3;
}

.history_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.history_item figcaption {
  transform: rotate(-90deg);
  transform-origin: -20px 14px;
  font-weight: 700;
  font-size: 20px;
}

.history_item span {
  color: #ccc;
  padding-right: 5px;
}

.ended_info {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  line-height: normal;
  width: fit-content;
  font-family: "Bitter", serif;
  font-size: 1.3rem;
  font-weight: 500;
}

.ended_button {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.history_item:hover img {
  opacity: 0.3;
}

.history_item:hover .ended_info {
  opacity: 1;
}

.history_item:hover .ended_button {
  opacity: 1;
}
