/* Russo One */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* 강원교육체 */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 바른공군체 */
@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}







.main {
    display: flex;
    justify-content: center;
}

#mainimg {
    width: 80vw;
    height: 40vh;
}


.poll_list {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

#list {
    display: inline;
    position: relative;
    font-family: 'Russo One', sans-serif;
    font-size: 2.5vw;
    top: 3vh;
    left: 1vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#bigbox {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
}


#box1 {
    background-color: #ffffff;
    /* background-color: #ffc983; */
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 35vh;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;; */
}

#box2 {
    background-color: #ffffff;
    /* background-color: #ffc983; */
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 7vh;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */

}

#box3 {
    background-color: #ffffff;
    /* background-color: #ffc983; */
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 6vh;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}

#box4 {
    background-color: #ffffff;
    /* background-color: #ffc983; */
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 5vh;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}

#list_img {
    position: relative;
    width: 21vw;
    margin: 2vw;
    top: 4vh;
    padding:1px;
    border:5px solid #ffcbcb;

}

#list_text {
    position: relative;
    display: flex;
    width: 23vw;
    justify-content: center;
    top: 2vh;
    margin: 1vw;
    font-size: 1.5vw;
    font-family: 'ROKAFSansBold';
    font-weight: bold;
}

#list_date {
    position: relative;
    display: flex;
    width: 23vw;
    justify-content: center;
    margin: 1.1vw;
    font-size: 1.2vw;
    font-family: 'ROKAFSansMedium';
}



/* 버튼 */
#more_btn {
    position: relative;
    top: 3.2vh;
    width: 8vw;
    font-size: 1.3vw;
    font-family: 'ROKAFSansMedium';
    text-align: center;
    background-color: #ffffff;
    cursor: pointer; 
    transition: all 0.3s ease-out;

}

#more_btn:hover{
    color:#fff;
    background-color: black;
}





/* 히스토리 */

.history_list {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

#history {
    display: inline;
    position: relative;
    font-family: 'Russo One', sans-serif;
    font-size: 2.5vw;
    top: 3vh;
    left: 2vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}