/* width: 200px; */
/* height: 62px; */
/* line-height: 60px; */
.mypage {
    z-index: 5;
    position: absolute;
    left: 13vw;
    top: 20vh;
    
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
    
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.info{
    position: absolute;
    width: 281px;
    height: 20px;
    left: 113px;
    top: 606px;
    
    font-family: 'Risque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #00A3FF;
}

.poll {
    position: absolute;
    width: 281px;
    height: 20px;
    left: 430px;
    top: 606px;
    
    font-family: 'Risque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #000000;
}

.qna{
    position: absolute;
    width: 282px;
    height: 20px;
    left: 711px;
    top: 606px;
    
    font-family: 'Risque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #000000;
}

.nav {
    position: absolute;
    width: 2063px;
    height: 0px;
    left: 95px;
    top: 642px;
    
    border: 5px solid #000000;
}

.nicknameText {
    position: absolute;
    width: 290px;
    height: 26px;
    left: 174px;
    top: 773px;
    
    font-family: 'Risque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #000000;
}

.nickname{
    position: absolute;
    width: 290px;
    height: 26px;
    left: 174px;
    top: 773px;
    
    font-family: 'Risque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #000000;
}

.nicknamebtn {
    position: absolute;
    width: 184.48px;
    height: 42px;
    left: 1726.3px;
    top: 765px;

    background: #C4C4C4;
    border-radius: 20px;
}

.emailtext {
    position: absolute;
    width: 290px;
    height: 26px;
    left: 174px;
    top: 835px;
    
    font-family: 'Risque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #000000;
    
}

.email {
    position: absolute;
    width: 1395px;
    height: 42px;
    left: 505px;
    top: 869px;
    
    background: #EEEEEE;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.passwordtext {
    position: absolute;
    width: 290px;
    height: 26px;
    left: 174px;
    top: 897px;
    
    font-family: 'Risque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #000000;
}

.password {
    position: absolute;
    width: 290px;
    height: 26px;
    left: 505px;
    top: 931px;
    
    background: #EEEEEE;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.passwordbtn {
    position: absolute;
    width: 184.48px;
    height: 42px;
    left: 1727px;
    top: 889px;
    
    background: #C4C4C4;
    border-radius: 20px;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RussoOne";
    src: url(../fonts/RussoOne-Regular.ttf);
  }