.poll_container {
  max-width: 80vw;
  display: flex;
  justify-content: space-between;
  padding-top: 300px;
}

.pl_left {
  width: 60%;
  position: relative;
}

.pl_right {
  width: 40%;
  position: relative;
}

.poll_Info {
  position: sticky;
  top: 120px;
}

.poll_Info img {
  width: 50%;
}

.poll_Info figcaption {
  font-size: 1.4vw;
}

.poll_Info figcaption span {
  font-size: 2vw;
}

.left_title,
.right_title {
  font-family: "Baskervville", serif;
  font-size: 3vw;
  position: absolute;
  top: -4.3vw;
}

.Cand_list {
}

.poll_Cand {
  display: flex;
  align-items: center;
}

.poll_Cand:nth-child(1) .CandImg {
  border: 5px solid gold;
}

.poll_Cand:nth-child(2) .CandImg {
  border: 5px solid silver;
}

.poll_Cand:nth-child(3) .CandImg {
  border: 5px solid brown;
}

.poll_Cand .CandImg {
  width: 30%;
  margin: 0 1vw 1vw 0;
}

.poll_Cand figcaption {
}

.voteBox {
  border: 2px solid black;
  width: 3vw;
  height: 3vw;
  margin-left: 5vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voteBox .stampImg {
  width: 80%;
  height: 80%;
}
