.user {
    z-index: 5;
    position: absolute;
    /* width: 200px; */
    /* height: 62px; */
    left: 13vw;
    top: 20vh;
    
    /* font-family: 'ROKAFSansBold'; */
    font-family: "RussoOne";
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    /* line-height: 60px; */
    text-align: center;
    
    color: #000000;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.userbg {
    /* z-index: -1; */
    /* position: absolute;
    width: 78vw;
    height: 50vh;
    left: 11vw;
    top: 33vh;
    
    background: #FFF9EE;
    border-radius: 7vh; */
    position: absolute;
    width: 56.5vw;
    height: 30vh;
    left: 21vw;
    /* top: 55vh; */
    top: 53vh;
    
    background: #FFF9EE;
    border-radius: 7vh;
}
 
div .addcompany:hover{
    background: #fdeac7;
    /* transition: all 0.3s ease-out; */
    background-image: url(https://img.icons8.com/pastel-glyph/40/000000/company--v1.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left: 5vw;
}

div .other:hover{
    background: #fdeac7;
    /* transition: all 0.3s ease-out; */
    background-image: url(https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/40/000000/external-user-advertising-kiranshastry-lineal-kiranshastry-4.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left: 5vw;
}

.nav{
    position: absolute;
    /* width: 50vw; */
    width: 55vw;
    height: 7vh;
    left: 22vw;
    /* left: 22vw; */
    /* top: 45vh; */
    top: 33vh;
    
    background: #FEFFF8;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #f1d2a1;
    /* box-shadow: 6px 6px 10px 3px #F5EAD8; */
    border-radius: 2vh;
    
    font-family: 'GangwonEdu_OTFBoldA';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 9vh;
    text-align: start;
    
    color: #000000;
}

.addcompany {
    position: absolute;
    /* width: 24vw;
    height: 7vh;
    left: 22vw;
    top: 33vh; */
    width: 27.5vw;
    height: 7vh;
    left: 0vw;
    
    /* background: #FEFFF8; */
    background-image: url(https://img.icons8.com/pastel-glyph/40/000000/company--v1.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left: 5vw;
    /* box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #f1d2a1; */
    border-radius: 2vh;
    border-top-right-radius: 0vh;
    border-bottom-right-radius: 0vh;
    border-right: 0.25vh dotted #f1d2a1;
    
    font-family: 'GangwonEdu_OTFBoldA';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 9vh;
    text-align: start;
    
    color: #000000;
}

.other {
    position: absolute;
    /* width: 24vw;
    height: 7vh;
    left: 53vw;
    top: 33vh; */
    width: 27.5vw;
    height: 7vh;
    left: 27.5vw;
    
    background: #FEFFF8;
    background-image: url(https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/40/000000/external-user-advertising-kiranshastry-lineal-kiranshastry-4.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left:5vw;
    /* box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #f1d2a1; */
    border-radius: 2vh;
    border-top-left-radius: 0vh;
    border-bottom-left-radius: 0vh;
    border-left: 0.25vh dotted #f1d2a1;

    font-family: 'GangwonEdu_OTFBoldA';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 9vh;
    text-align: start;

    color: #000000;
}

.id {
    position: absolute;
    width: 35vw;
    /* height: 6vh; */
    height: 6vh;
    /* left: 24vw; */
    /* top: 60vh; */
    left: 5vw;
    top: 4vh;
    
    background: #FEFFF8;
    background-image: url(https://img.icons8.com/cotton/24/000000/name--v2.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left: 2.5vw;
    /* box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #f1d2a1; */
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #229b7d56;
    border-radius: 2vh;
}

.email {
  position: absolute;
  width: 35vw;
  /* height: 6vh; */
  height: 6vh;
  /* left: 24vw; */
  /* top: 60vh; */
  left: 5vw;
  top: 13vh;
  
  background: #FEFFF8;
  background-image: url(https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/24/000000/external-email-advertising-kiranshastry-gradient-kiranshastry-7.png);
  background-repeat: no-repeat;
  background-position: 0.5vw center;
  padding-left: 2.5vw;
  /* box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #f1d2a1; */
  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #229b7d56;
  border-radius: 2vh;
}

.password {
    position: absolute;
    width: 35vw;
    /* height: 6vh; */
    height: 6vh;
    /* left: 24vw;
    top: 69vh; */
    left: 5vw;
    top: 22vh;
    
    background: #FEFFF8;
    background-image: url(https://img.icons8.com/external-xnimrodx-lineal-gradient-xnimrodx/24/000000/external-lock-digital-marketing-xnimrodx-lineal-gradient-xnimrodx.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left:2.3vw;
    /* box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #f1d2a1; */
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #229b7d56;
    border-radius: 2vh;
}

.phone {
  position: absolute;
  width: 35vw;
  /* height: 6vh; */
  height: 6vh;
  /* left: 24vw;
  top: 69vh; */
  left: 5vw;
  top: 31vh;
  
  background: #FEFFF8;
  background-image: url(https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/20/000000/external-phone-essentials-icongeek26-outline-colour-icongeek26.png);
  background-repeat: no-repeat;
  background-position: 0.5vw center;
  padding-left:2.3vw;
  /* box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #f1d2a1; */
  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #229b7d56;
  border-radius: 2vh;
}

.signinbtn {
    position: absolute;
    /* width: 15vw;
    height: 9vh;
    left: 60.5vw;
    top: 63.5vh; */
    width: 10vw;
    height: 5vh;
    left: 42vw;
    top: 35vh;
    
    background: #FFF9EE;
    mix-blend-mode: normal;
    /* box-shadow: 0.0vw 0.0vw 0.2vw 0.2vw #fae7c8; */
    box-shadow: 0.0vw 0.0vw 0.2vw 0.2vw #229b7d56;
    border-radius: 3vh;

    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 4vh;
    /* identical to box height */

    text-align: center;

    /* color: #9F824D; */
    color: #77A3A9;
}

.userEmail {
    position: absolute;
    /* width: 23.5vw; */
    width: 39vw;
    height: 6vh;
    /* left: 4vw;
    top: 15vh; */
    left: 25vw;
    /* left: 38vw; */
    top: 45vh;
    /* top: 58vh; */
    
    /* background: #FEFFF8; */
    background: #e8eca559;
    background-image: url(https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/24/000000/external-email-advertising-kiranshastry-gradient-kiranshastry-7.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left: 3.2vw;
    /* box-shadow: 0.0vw 0.2vw 0.5vw 0.0vw #f1d2a1; */
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #babb95;
    /* box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #f1d2a1; */
    /* box-shadow: 6px 6px 10px 3px #F5EAD8; */
    border-radius: 1vh;
    border-color: #00000000;

    font-family: 'ROKAFSansMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 6vh;
}

.searchbtn {
    position: absolute;
    /* width: 23.5vw; */
    width: 4vw;
    height: 6vh;
    /* left: 4vw;
    top: 15vh; */
    left: 68vw;
    /* left: 38vw; */
    top: 45vh;
    /* top: 58.5vh; */
    
    /* background: #FEFFF8; */
    /* background: #e8eca559; */
    background: #e8eca500;
    background-image: url(https://img.icons8.com/pastel-glyph/40/000000/search--v2.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left: 2.3vw;
    /* box-shadow: 0.0vw 0.2vw 0.5vw 0.0vw #f1d2a1; */
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #babb95;
    /* box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #f1d2a1; */
    /* box-shadow: 6px 6px 10px 3px #F5EAD8; */
    border-radius: 1vh;
    border-color: #00000000;

    font-family: 'ROKAFSansMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 6vh;
}

.table {
    position: absolute;
    width: 44vw;
    height: 6vh;
    left: 26.5vw;
    top: 67vh;

    /* background: #e8eca500;
    background-repeat: no-repeat;
    background-position: 0.5vw center; */
    padding-left: 2.3vw;
    box-shadow: 0.1vw 0.2vw 0.5vw 0.0vw #0a0600;
    border-radius: 1vh;
    border-color: #00000000;

    /* font-family: 'ROKAFSansMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 6vh;
    text-align: center; */
}

.thead {
    font-family: 'ROKAFSansMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 6vh;
    text-align: center;
}

.tbody {
    font-family: 'ROKAFSansMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 6vh;
    text-align: center;
}


.login {
    overflow: hidden;
    /* background-color: white; */
    background-color: #ffffff5b;
    /* padding: 40px 30px 30px 30px; */
    /* border-radius: 10px; */
    /* padding: 40px 30px 30px 30px; */
    padding: 4vw 3vw 3vw 3vw;
    /* border-radius: 10px; */
    border-radius: 2vh;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* width: 400px; */
    /* width: 35vw; */
    /* top: 49vh; */
    top: 66vh;
    left: 49.5vw;
    width: 55vw;
    height: 42vh;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  }
  .login::before, .login::after {
    content: "";
    position: absolute;
    /* width: 600px;
    height: 600px; */
    /* width: 39vw;
    height: 80vh; */
    width: 50vw;
    height: 130vh;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  .login::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(69, 105, 144, 0.15);
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
  }
  .login::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(2, 128, 144, 0.2);
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
  }
  .login > input {
    font-family: "Asap", sans-serif;
    display: block;
    /* border-radius: 5px; */
    /* font-size: 16px; */
    background: white;
    width: 100%;
    border: 0;
    /* padding: 10px 10px; */
    /* margin: 15px -10px; */
  }
  /* .login > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #f45b69;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
  }
  .login > button:hover {
    background-color: #f24353;
  } */
  
  @-webkit-keyframes wawes {
    from {
      -webkit-transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes wawes {
    from {
      -moz-transform: rotate(0);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @keyframes wawes {
    from {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RussoOne";
    src: url(../fonts/RussoOne-Regular.ttf);
  }

  @font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}