.user {
    z-index: 5;
    position: absolute;
    left: 13vw;
    top: 20vh;
    
    font-family: "RussoOne";
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
    
    color: #000000;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.userbg {
    position: absolute;
    width: 56.5vw;
    height: 30vh;
    left: 21vw;
    top: 53vh;
    
    background: #FFF9EE;
    border-radius: 7vh;
}
 
div .addcompany:hover{
    background: #fdeac7;
    background-image: url(https://img.icons8.com/pastel-glyph/40/000000/company--v1.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left: 5vw;
}

div .other:hover{
    background: #fdeac7;
    background-image: url(https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/40/000000/external-user-advertising-kiranshastry-lineal-kiranshastry-4.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left: 6.5vw;
}

div .qna:hover{
  background: #fdeac7;
  background-image: url(https://img.icons8.com/external-tal-revivo-light-tal-revivo/40/000000/external-question-and-answer-session-with-speech-bubble-school-light-tal-revivo.png);
  background-repeat: no-repeat;
  background-position: 0.5vw center;
  padding-left:6.5vw;
}

.nav{
    position: absolute;
    width: 55vw;
    height: 7vh;
    left: 22vw;
    top: 33vh;
    
    background: #FEFFF8;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #f1d2a1;
    border-radius: 2vh;
    
    font-family: 'GangwonEdu_OTFBoldA';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 9vh;
    text-align: start;
    
    color: #000000;
}

.addcompany {
    position: absolute;
    width: 18.3vw;
    height: 7vh;
    left: 0vw;
    
    background-image: url(https://img.icons8.com/pastel-glyph/40/000000/company--v1.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left: 5vw;
    border-radius: 2vh;
    border-top-right-radius: 0vh;
    border-bottom-right-radius: 0vh;
    border-right: 0.25vh dotted #f1d2a1;
    
    font-family: 'GangwonEdu_OTFBoldA';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 9vh;
    text-align: start;
    
    color: #000000;
}

.other {
    position: absolute;
    width: 18.3vw;
    height: 7vh;
    left: 18.3vw;
    
    background: #FEFFF8;
    background-image: url(https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/40/000000/external-user-advertising-kiranshastry-lineal-kiranshastry-4.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left:6.5vw;
    border-left: 0.25vh dotted #f1d2a1;
    border-right: 0.25vh dotted #f1d2a1;

    font-family: 'GangwonEdu_OTFBoldA';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 9vh;
    text-align: start;

    color: #000000;
}

.qna {
  position: absolute;
  width: 18.3vw;
  height: 7vh;
  left: 36.6vw;
  
  background: #FEFFF8;
  background-image: url(https://img.icons8.com/external-tal-revivo-light-tal-revivo/40/000000/external-question-and-answer-session-with-speech-bubble-school-light-tal-revivo.png);
  background-repeat: no-repeat;
  background-position: 0.5vw center;
  padding-left:6.5vw;
  border-radius: 2vh;
  border-top-left-radius: 0vh;
  border-bottom-left-radius: 0vh;
  border-left: 0.25vh dotted #f1d2a1;

  font-family: 'GangwonEdu_OTFBoldA';
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7vw;
  line-height: 9vh;
  text-align: start;

  color: #000000;
}

.id {
    position: absolute;
    width: 35vw;
    height: 5vh;
    left: 5vw;
    top: 3vh;
    
    background: #FEFFF8;
    background-image: url(https://img.icons8.com/cotton/24/000000/name--v2.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left: 2.5vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #229b7d56;
    border-radius: 2vh;
}

.nicknameCheck{
  position: absolute;
  width: 4vw;
  height: 4vh;
  left: 41vw;
  top: 3.5vh;
  
  background: #FEFFF8;
  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #229b7d56;
  border-radius: 3vh;
  font-family: 'GangwonEdu_OTFBoldA';
  line-height: 1vh;
  font-size: 0.9vw;

  color: #496370;
}

.email {
  position: absolute;
  width: 35vw;
  height: 5vh;
  left: 5vw;
  top: 11vh;
  
  background: #FEFFF8;
  background-image: url(https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/24/000000/external-email-advertising-kiranshastry-gradient-kiranshastry-7.png);
  background-repeat: no-repeat;
  background-position: 0.5vw center;
  padding-left: 2.5vw;
  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #229b7d56;
  border-radius: 2vh;
}

.password {
    position: absolute;
    width: 35vw;
    height: 5vh;
    left: 5vw;
    top: 19vh;
    
    background: #FEFFF8;
    background-image: url(https://img.icons8.com/external-xnimrodx-lineal-gradient-xnimrodx/24/000000/external-lock-digital-marketing-xnimrodx-lineal-gradient-xnimrodx.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left:2.3vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #229b7d56;
    border-radius: 2vh;
}

.walletpassword {
  position: absolute;
  width: 35vw;
  height: 5vh;
  left: 5vw;
  top: 35vh;
  
  background: #FEFFF8;
  background-image: url(https://img.icons8.com/external-xnimrodx-lineal-gradient-xnimrodx/24/000000/external-lock-digital-marketing-xnimrodx-lineal-gradient-xnimrodx.png);
  background-repeat: no-repeat;
  background-position: 0.5vw center;
  padding-left:2.3vw;
  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #229b7d56;
  border-radius: 2vh;
}
.walletimg{
  position: absolute;
  left: 40vw;
  top: 35vh;
  color: #FF5656;
}


.phone {
  position: absolute;
  width: 35vw;
  height: 5vh;
  left: 5vw;
  top: 27vh;
  
  background: #FEFFF8;
  background-image: url(https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/20/000000/external-phone-essentials-icongeek26-outline-colour-icongeek26.png);
  background-repeat: no-repeat;
  background-position: 0.5vw center;
  padding-left:2.3vw;
  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #229b7d56;
  border-radius: 2vh;
}

.signinbtn {
    position: absolute;
    width: 8vw;
    height: 5vh;
    left: 45.5vw;
    top: 35vh;
    
    background: #FFF9EE;
    mix-blend-mode: normal;
    box-shadow: 0.0vw 0.0vw 0.2vw 0.2vw #229b7d56;
    border-radius: 3vh;

    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 4vh;

    text-align: center;

    color: #77A3A9;
}

.userEmail {
    position: absolute;
    width: 39vw;
    height: 6vh;
    left: 25vw;
    top: 45vh;
    
    background: #e8eca559;
    background-image: url(https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/24/000000/external-email-advertising-kiranshastry-gradient-kiranshastry-7.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left: 3.2vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #babb95;
    border-radius: 1vh;
    border-color: #00000000;

    font-family: 'ROKAFSansMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 6vh;
}

.searchbtn {
    position: absolute;
    width: 4vw;
    height: 6vh;
    left: 68vw;
    top: 45vh;

    background: #e8eca500;
    background-image: url(https://img.icons8.com/pastel-glyph/40/000000/search--v2.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    padding-left: 2.3vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #babb95;
    border-radius: 1vh;
    border-color: #00000000;

    font-family: 'ROKAFSansMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 6vh;
}

.table {
    position: absolute;
    width: 44vw;
    height: 6vh;
    left: 26.5vw;
    top: 67vh;
    padding-left: 2.3vw;
    box-shadow: 0.1vw 0.2vw 0.5vw 0.0vw #0a0600;
    border-radius: 1vh;
    border-color: #00000000;
}

.thead {
    font-family: 'ROKAFSansMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 6vh;
    text-align: center;
}

.tbody {
    font-family: 'ROKAFSansMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 6vh;
    text-align: center;
}

/* 회원가입 뒷배경, 화면 울렁울렁 */
.login {
    overflow: hidden;
    background-color: #ffffff5b;
    padding: 4vw 3vw 3vw 3vw;
    border-radius: 2vh;
    position: absolute;

    top: 66vh;
    left: 49.5vw;
    width: 55vw;
    height: 43vh;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  }
  .login::before, .login::after {
    content: "";
    position: absolute;

    width: 50vw;
    height: 130vh;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  .login::before {
    left: 40%;
    bottom: -130%;

    background-color: #8ac1be52;
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
  }
  .login::after {
    left: 35%;
    bottom: -125%;

    background-color: #3afaca2a;
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
  }
  .login > input {
    font-family: "Asap", sans-serif;
    display: block;

    background: white;
    width: 100%;
    border: 0;

  }

  
  @-webkit-keyframes wawes {
    from {
      -webkit-transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes wawes {
    from {
      -moz-transform: rotate(0);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @keyframes wawes {
    from {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RussoOne";
    src: url(../fonts/RussoOne-Regular.ttf);
  }

  @font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}