.footer {
  border-top: 1px solid #eee;
  /* background-color: #f7f7ef; */
  padding: 80px 110px;
  position: relative;
  font-weight: 300;
}

/* .company_Info {
} */

.ci_contact {
  font-size: 40px;
  font-weight: 500;
  font-family: "RussoOne";
}

.ci_contents {
  font-size: 14px;
  line-height: 24px;
  margin-top: 22px;
}

.ft_menu {
  position: absolute;
  display: flex;
  font-size: 14px;
  right: 139px;
  top: 80px;
  line-height: 24px;
}

.ft_subInfo {
  margin-top: 120px;
  font-size: 13px;
  line-height: 24px;
  width: 50%;
}

.ft_copyright {
  margin-top: 15px;
  font-size: 12px;
  color: gray;
}

li {
  list-style: none;
}

@font-face {
  font-family: "RussoOne";
  src: url(../../fonts/RussoOne-Regular.ttf);
}
