/* Russo One */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


  
.line {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
  }
