@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

html {
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	content: "";
	position: absolute;
}

:root {
	--background-pink: #ffdbd7;
	--background-blue: #d7f7f0;
	--color-red: #f75d41;
	--color-blue: #214975;

	--shadow-red: 1px 1px 0px var(--color-red), 0px 2px 0px var(--color-red),
		0px 3px 0px var(--color-red), 0px 4px 0px var(--color-red),
		0px 5px 0px var(--color-red), 0px 6px 0px var(--color-red),
		0px 7px 0px var(--color-red), 0px 8px 0px var(--color-red),
		0px 9px 0px var(--color-red), 0px 10px 0px var(--color-red),
		0px 11px 0px var(--color-red), 0px 12px 0px var(--color-red),
		0px 13px 0px var(--color-red), 0px 14px 0px var(--color-red),
		0px 15px 0px var(--color-red), 0px 16px 0px var(--color-red),
		0px 17px 0px var(--color-red), 0px 18px 0px var(--color-red),
		0px 19px 0px var(--color-red), 0px 20px 0px var(--color-red),
		0px 21px 0px var(--color-red), 0px 22px 0px var(--color-red),
		0px 23px 0px var(--color-red), 0px 24px 0px var(--color-red),
		0px 25px 0px var(--color-red), 0px 26px 0px var(--color-red),
		0px 27px 0px var(--color-red), 0px 28px 0px var(--color-red),
		0px 29px 0px var(--color-red), 0px 30px 0px var(--color-red),
		0px 31px 0px var(--color-red), 0px 32px 0px var(--color-red),
		0px 33px 0px var(--color-red), 0px 34px 0px var(--color-red),
		0px 35px 0px var(--color-red), 0px 36px 0px var(--color-red),
		0px 37px 0px var(--color-red), 0px 38px 0px var(--color-red),
		0px 39px 0px var(--color-red), 0px 40px 0px var(--color-red),
		0px 41px 0px var(--color-red), 0px 42px 0px var(--color-red),
		0px 43px 0px var(--color-red), 0px 44px 0px var(--color-red),
		0px 45px 0px var(--color-red), 0px 46px 0px var(--color-red),
		0px 47px 0px var(--color-red), 0px 48px 0px var(--color-red),
		0px 49px 0px var(--color-red), 0px 50px 0px var(--color-red),
		0px 51px 0px var(--color-red), 0px 52px 0px var(--color-red),
		0px 53px 0px var(--color-red), 0px 54px 0px var(--color-red),
		0px 55px 0px var(--color-red), 0px 56px 0px var(--color-red),
		0px 57px 0px var(--color-red), 0px 58px 0px var(--color-red),
		0px 59px 0px var(--color-red), 0px 60px 0px var(--color-red),
		0px 61px 0px var(--color-red), 0px 62px 0px var(--color-red),
		0px 63px 0px var(--color-red), 0px 64px 0px var(--color-red),
		0px 65px 0px var(--color-red), 0px 66px 0px var(--color-red),
		0px 67px 0px var(--color-red), 0px 68px 0px var(--color-red),
		0px 69px 0px var(--color-red), 0px 70px 0px var(--color-red),
		0px 71px 0px var(--color-red), 0px 72px 0px var(--color-red),
		0px 73px 0px var(--color-red), 0px 74px 0px var(--color-red),
		0px 75px 0px var(--color-red), 0px 76px 0px var(--color-red),
		0px 77px 0px var(--color-red), 0px 78px 0px var(--color-red),
		0px 79px 0px var(--color-red), 0px 80px 0px var(--color-red),
		0px 81px 0px var(--color-red), 0px 82px 0px var(--color-red),
		0px 83px 0px var(--color-red), 0px 84px 0px var(--color-red),
		0px 85px 0px var(--color-red), 0px 86px 0px var(--color-red),
		0px 87px 0px var(--color-red), 0px 88px 0px var(--color-red),
		0px 89px 0px var(--color-red), 0px 90px 0px var(--color-red),
		0px 91px 0px var(--color-red), 0px 92px 0px var(--color-red),
		0px 93px 0px var(--color-red), 0px 94px 0px var(--color-red),
		0px 95px 0px var(--color-red), 0px 96px 0px var(--color-red),
		0px 97px 0px var(--color-red), 0px 98px 0px var(--color-red),
		0px 99px 0px var(--color-red), 0px 100px 0px var(--color-red),
		0px 101px 0px var(--color-red), 0px 102px 0px var(--color-red),
		0px 103px 0px var(--color-red), 0px 104px 0px var(--color-red),
		0px 105px 0px var(--color-red), 0px 106px 0px var(--color-red),
		0px 107px 0px var(--color-red), 0px 108px 0px var(--color-red),
		0px 109px 0px var(--color-red), 0px 110px 0px var(--color-red),
		0px 111px 0px var(--color-red), 0px 112px 0px var(--color-red),
		0px 113px 0px var(--color-red), 0px 114px 0px var(--color-red);

	--shadow-blue: 1px 1px 0px var(--color-blue), 0px 2px 0px var(--color-blue),
		0px 3px 0px var(--color-blue), 0px 4px 0px var(--color-blue),
		0px 5px 0px var(--color-blue), 0px 6px 0px var(--color-blue),
		0px 7px 0px var(--color-blue), 0px 8px 0px var(--color-blue),
		0px 9px 0px var(--color-blue), 0px 10px 0px var(--color-blue),
		0px 11px 0px var(--color-blue), 0px 12px 0px var(--color-blue),
		0px 13px 0px var(--color-blue), 0px 14px 0px var(--color-blue),
		0px 15px 0px var(--color-blue), 0px 16px 0px var(--color-blue),
		0px 17px 0px var(--color-blue), 0px 18px 0px var(--color-blue),
		0px 19px 0px var(--color-blue), 0px 20px 0px var(--color-blue),
		0px 21px 0px var(--color-blue), 0px 22px 0px var(--color-blue),
		0px 23px 0px var(--color-blue), 0px 24px 0px var(--color-blue),
		0px 25px 0px var(--color-blue), 0px 26px 0px var(--color-blue),
		0px 27px 0px var(--color-blue), 0px 28px 0px var(--color-blue),
		0px 29px 0px var(--color-blue), 0px 30px 0px var(--color-blue),
		0px 31px 0px var(--color-blue), 0px 32px 0px var(--color-blue),
		0px 33px 0px var(--color-blue), 0px 34px 0px var(--color-blue),
		0px 35px 0px var(--color-blue), 0px 36px 0px var(--color-blue),
		0px 37px 0px var(--color-blue), 0px 38px 0px var(--color-blue),
		0px 39px 0px var(--color-blue), 0px 40px 0px var(--color-blue),
		0px 41px 0px var(--color-blue), 0px 42px 0px var(--color-blue),
		0px 43px 0px var(--color-blue), 0px 44px 0px var(--color-blue),
		0px 45px 0px var(--color-blue), 0px 46px 0px var(--color-blue),
		0px 47px 0px var(--color-blue), 0px 48px 0px var(--color-blue),
		0px 49px 0px var(--color-blue), 0px 50px 0px var(--color-blue),
		0px 51px 0px var(--color-blue), 0px 52px 0px var(--color-blue),
		0px 53px 0px var(--color-blue), 0px 54px 0px var(--color-blue),
		0px 55px 0px var(--color-blue), 0px 56px 0px var(--color-blue),
		0px 57px 0px var(--color-blue), 0px 58px 0px var(--color-blue),
		0px 59px 0px var(--color-blue), 0px 60px 0px var(--color-blue),
		0px 61px 0px var(--color-blue), 0px 62px 0px var(--color-blue),
		0px 63px 0px var(--color-blue), 0px 64px 0px var(--color-blue),
		0px 65px 0px var(--color-blue), 0px 66px 0px var(--color-blue),
		0px 67px 0px var(--color-blue), 0px 68px 0px var(--color-blue),
		0px 69px 0px var(--color-blue), 0px 70px 0px var(--color-blue),
		0px 71px 0px var(--color-blue), 0px 72px 0px var(--color-blue),
		0px 73px 0px var(--color-blue), 0px 74px 0px var(--color-blue),
		0px 75px 0px var(--color-blue), 0px 76px 0px var(--color-blue),
		0px 77px 0px var(--color-blue), 0px 78px 0px var(--color-blue),
		0px 79px 0px var(--color-blue), 0px 80px 0px var(--color-blue),
		0px 81px 0px var(--color-blue), 0px 82px 0px var(--color-blue),
		0px 83px 0px var(--color-blue), 0px 84px 0px var(--color-blue),
		0px 85px 0px var(--color-blue), 0px 86px 0px var(--color-blue),
		0px 87px 0px var(--color-blue), 0px 88px 0px var(--color-blue),
		0px 89px 0px var(--color-blue), 0px 90px 0px var(--color-blue),
		0px 91px 0px var(--color-blue), 0px 92px 0px var(--color-blue),
		0px 93px 0px var(--color-blue), 0px 94px 0px var(--color-blue),
		0px 95px 0px var(--color-blue), 0px 96px 0px var(--color-blue),
		0px 97px 0px var(--color-blue), 0px 98px 0px var(--color-blue),
		0px 99px 0px var(--color-blue), 0px 100px 0px var(--color-blue),
		0px 101px 0px var(--color-blue), 0px 102px 0px var(--color-blue),
		0px 103px 0px var(--color-blue), 0px 104px 0px var(--color-blue),
		0px 105px 0px var(--color-blue), 0px 106px 0px var(--color-blue),
		0px 107px 0px var(--color-blue), 0px 108px 0px var(--color-blue),
		0px 109px 0px var(--color-blue), 0px 110px 0px var(--color-blue),
		0px 111px 0px var(--color-blue), 0px 112px 0px var(--color-blue),
		0px 113px 0px var(--color-blue), 0px 114px 0px var(--color-blue);

	--text-pink: #ff96aa;
	--text-yellow: #fbc724;
	--text-cream: #f7e7cf;

	--unit-size: 60px;
}

#VoteVote {
	width: 80vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Shrikhand", serif;
	animation: bgColor 1s steps(2, end) infinite;
  position: relative;
}

#container {
	position: relative;
	padding: 0 40px 120px 0;
}

#container h1 {
	font-size: calc(var(--unit-size) * 2);
	font-weight: 400;
	line-height: 0.8;
	letter-spacing: -8px;
	animation: shadowColor 1s steps(1, end) infinite;
	position: relative;
}

#container h1:nth-of-type(1) {
	color: var(--text-pink);
}

#container h1:nth-of-type(2) {
	color: var(--text-yellow);
	margin-left: calc(var(--unit-size) * 1.2);
}

#container h1:nth-of-type(3) {
	color: var(--text-cream);
	margin-left: calc(var(--unit-size) * 2.4);
}

h2 {
	font-family: "Shrikhand", serif;
	font-weight: 400;
	font-size: calc(var(--unit-size) * 0.6);
	padding: 6px;
	outline: none;
	line-height: 1;
	position: absolute;
	cursor: pointer;
	border: none;
	background: none;
	color: whitesmoke;
	display: inline-block;
	right: calc(var(--unit-size) * 0.35);
	letter-spacing: 0.5px;
	text-decoration: none;
}



@keyframes bgColor {
	from {
		background: var(--background-pink);
	}

	to {
		background: var(--background-blue);
	}
}

@keyframes shadowColor {
	0% {
		text-shadow: var(--shadow-red);
	}

	50% {
		text-shadow: var(--shadow-blue);
	}

	100% {
		text-shadow: var(--shadow-red);
	}
}
