.firstdiv{
    margin-left: 3vw;
    margin-bottom: 2vh;
    flex-direction: column;
    align-content: space-evenly;
}

.date{
    position: flex;
    width: 15vw;
    height: 2vh;
    left: 23.5vw;
    margin-bottom: 1vh;
    margin-left: 2vh;

    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.3vw;
}

.line{
    position: flex;
    width: 53.5vw;
    height: 18vh;
    left: 23.5vw;
    display:inline-flex;
    margin-right: 1vh;

    border-top: 0.2vw solid #00000052;
    border-bottom: 0.2vw solid #00000052;
}

.img{
    position: flex;
    width: 12vw;
    height: 15vh;
    left: 23.5vw;
    margin-top: 1vh;
    margin-right: 1vh;
    margin-left: 2vh;
}

.seconddiv{
    align-content: space-between;
    position: flex;
    margin-top: 1vh;
    margin-left: 1vw;
    width: 20vw;
}

.thirddiv{
    position: flex;
    align-content: stretch;
    flex-direction: column;
    width: 35vw;
    margin-top: 1.5vh;
    margin-left: 1vw;
}

.competition{
    position: flex;
    width: 20vw;
    left: 33vw;
    
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.3vw;
}

.nominee{
    position: flex;
    width: 20vw;
    left: 32vw;
    font-size: 1.2vw;
    
    font-family: 'GangwonEdu_OTFBoldA';
}

.fourthdiv{
    position: flex;
    display: inline-flex;

    align-content: space-between;
    width: 50vw;
    margin-top: 6vh;
}
.txid{
    position: flex;
    width: 30vw;
    
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.2vw;
}

.totalPoll{
    position: flex;
    width: 10vw;
    
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.2vw;
}

.line2{
    position: flex;
    width: 59vw;
    left: 23.5vw;

    border-bottom: 0.2vw solid #000000;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RussoOne";
    src: url(../../fonts/RussoOne-Regular.ttf);
  }