.accordion {
    margin-bottom: 0vh;
    width: 45vw;
    left: 8vw;
    font-family:'GangwonEdu_OTFBoldA';
    background-color: rgba(250, 235, 215, 0.541);
}

.typotype {
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.4vw;
    line-height: 4vh;
}
.typoTitle {
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.3vw;
}
.typoContent {
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1vw;
}

.listbtn {
    position: relative;
    width: 2.5vw;
    height: 3vh;
    left: 39vw; 
    top: 0vh;
    font-family: 'GangwonEdu_OTFBoldA';
    border-radius: 30vw;
    font-size: 0.8vw;
    background-color:rgba(255, 194, 113, 0.452);
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RussoOne";
    src: url(../../fonts/RussoOne-Regular.ttf);
  }