.textNickname {
    position: absolute;
    left: 25vw;
    top: 48vh;

    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.5vw;
}

.textEmail {
    position: absolute;
    /* left: 25vw; */
    left: 26.7vw;
    top: 57vh;

    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.5vw;
}

.textPassword {
    position: absolute;
    left: 25vw;
    top: 66vh;

    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.5vw;
}
.nickname {
    position: absolute;
    width: 26vw;
    height: 5vh;
    left: 32.5vw;
    top: 47.5vh;

    border-radius: 0.5vw;
    /* background-color: rgba(190, 237, 252, 0.74); */
    /* background-color: #3afaca3d; */
    /* background-color: #3afaca1a; */
    background-color: #3afaca00;
}

.nickname:focus, .password:focus{
    /* background-color: #3afaca5b; */
    background-color: #3afaca31;
}

.nicknamebtn {
    position: absolute;
    width: 4vw;
    height: 4vh;
    left: 60vw;
    top: 48vh;

    border-radius: 1vw;
    background-color: #fb71aa44;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.2vw;
    line-height: 4vh;

}

.nicknamebtn:hover, .passwordbtn:hover{
    /* background-color: #fb71aafb; */
    background-color: #ff006a5b;
}

.email {
    position: absolute;
    width: 26vw;
    height: 5vh;
    left: 32.5vw;
    top: 56.5vh;

    border-radius: 0.5vw;
    /* background-color: #3afaca1a; */
    background-color: #3afaca00;
}

.password {
    position: absolute;
    width: 26vw;
    height: 5vh;
    left: 32.5vw;
    top: 65vh;

    border-radius: 0.5vw;
    /* background-color: #3afaca1a; */
    background-color: #3afaca00;
}

.passwordbtn{
    position: absolute;
    width: 4vw;
    height: 4vh;
    left: 60vw;
    top: 65.5vh;

    border-radius: 1vw;
    background-color: #fb71aa44;

    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.2vw;
    line-height: 4vh;
}

.logout{
    position: absolute;
    width: 5vw;
    height: 4vh;
    left: 65vw;
    top: 72.5vh;

    border-radius: 0.5vw;
    /* background-color: #fb71aa98; */
    background-color: #FFE29A;
    font-family: 'GangwonEdu_OTFBoldA';

    font-size: 1.2vw;
    line-height: 4vh;
}

.logout:hover{
    background-color: #f3c758;
}

.out{
    position: absolute;
    width: 4vw;
    height: 4vh;
    left: 71.5vw;
    top: 72.5vh;

    border-radius: 0.5vw;
    /* background-color: #ff006a5b; */
    /* background-color: #ff33005b; */
    /* background-color: #ff000083; */
    background-color: #ff000091;
    font-family: 'GangwonEdu_OTFBoldA';

    font-size: 1.2vw;
    line-height: 4vh;
}

.out:hover{
    /* background-color: #ff006a70; */
    /* background-color: #fb71aafb; */
    background-color: #fa1919d3;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RussoOne";
    src: url(../../fonts/RussoOne-Regular.ttf);
  }