/* 강원교육체 */
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 바른공군체 */
@font-face {
  font-family: 'ROKAFSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ROKAFSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



.right_title {
  font-family: 'ROKAFSansBold';
  position: absolute;
  font-size: 2.5vw;
  left: 15vw;
  /* top: -90px; */
  font-weight: 700;
  color: #201e1ef1
}

.right_title2 {
  position: "absolute";
  font-size: 1.5vw;  
  font-family: 'GangwonEdu_OTFBoldA';
}


.Cand_list {
  margin-top: 10vh;
  margin-right: 3vw;
}

.poll_Cand {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 2vw 0;
}

.poll_Cand:nth-child(1) {
  align-items: center;
  margin-top: 7vw;
}

.poll_Cand:nth-child(1) .CandImg {
  border: 4px solid gold;
  
  padding: 5px;
}

.poll_Cand:nth-child(2) {
  margin-top: -14.5vw;
  margin-left: 1vw;
}

.poll_Cand:nth-child(2) .CandImg {
  border: 5px solid silver;
  padding: 5px;
}



.poll_Cand:nth-child(2) figcaption {
  padding-left: 3.2vw;
}

.poll_Cand:nth-child(3) {
  align-items: flex-end;
  margin-top: -17.5vw;
  margin-right: 1vw;
}

.poll_Cand:nth-child(3) .CandImg {
  border: 5px solid brown;
  padding: 5px;
}

.poll_Cand:nth-child(3) figcaption {
  padding-right: 2.45vw;
}

.poll_Cand:nth-child(3n + 4) figcaption {
  padding-left: 3vw;
  
}

.poll_Cand:nth-child(3n + 5) {
  align-items: center;
  margin-top: -20.72vw;
}

.poll_Cand:nth-child(3n + 6) {
  align-items: flex-end;
  margin-top: -20.73vw;
}

.poll_Cand:nth-child(3n + 6) figcaption {
  padding-right: 3vw;
}

.poll_Cand .CandImg {
  width: 13vw;
  height: 13vw;
  cursor: pointer;
}

.poll_Cand figcaption {
  padding-top: 0.5vw;
}

.captionName {
  position: relative;
  font-size: 2vw;
  font-family: 'GangwonEdu_OTFBoldA';
  font-weight: 700;
  left: 1.3vw;
  /* color: #201e1ef1; */
  color: white;
}

.captionName2 {
  position: relative;
  font-size: 1.3vw;
  font-family: 'GangwonEdu_OTFBoldA';
  font-weight: 700;
  /* color: #201e1ef1 */
  color: white;
  margin-top: 0.5vh;
}



#cand_background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
  top: 9vh;
  right: 1.5vw;
  z-index: -5;
  border-style: groove;
  border-color: red;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#rank1 {
  position:absolute;
  width: 2vw;
  top: 32.8vh;
  left: 19.1vw;
}

#rank2 {
  position:absolute;
  width: 2vw;
  top: 45.8vh;
  left: 4.5vw;
}

#rank3 {
  position:absolute;
  width: 2vw;
  top: 52.6vh;
  right: 11.1vw;
}

#dark {
  position:absolute;
  width: 3vw;
  top: 2vh;
  right: 1vw;
}


.CandImg2 {
  width: 13vw;
  height: 13vw;
  cursor: pointer;
}

.poll_Cand2 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 2vw 0;
}

.poll_Cand2:nth-child(3n + 1) {
  margin-top: 15vh;
}

.poll_Cand2:nth-child(3n + 1) figcaption{
  padding-left: 2.8vw;
  padding-top: 2vh;
}

.poll_Cand2:nth-child(3n + 2) {
  align-items: center;
  margin-top: -21.3vw;
  margin-left: -2.9vw;
}

.poll_Cand2:nth-child(3n + 2) figcaption{
  padding-top: 2vh;
}

.poll_Cand2:nth-child(3n + 3) {
  align-items: flex-end;
  margin-top: -21.3vw;
  margin-right: 3vw;
}

.poll_Cand2:nth-child(3n + 3) figcaption{
  padding-top: 2vh;
  padding-right: 3vw;
}

.Cand_list2 {
  margin-top: 7vh;
}


#cand_background2{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
  top: 9vh;
  right: 1.5vw;
  z-index: -5;
  border-style: groove;
  border-color: red;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}