/* Russo One */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* 강원교육체 */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Bitter */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap');
/* font-family: 'Bitter', serif; */

.form_box {
    /* display: flex; */
    justify-content: center;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.5vw;
    margin: 0 6vw;
}

#nomi_box{
    position: relative;
    /* top: -18vh; */
    left: 15vw;
}

#nomi_box2{
    position: relative;
    /* top: -18vh; */
    bottom: 4vh;
}

#nomi_tag{
    position: relative;
    font-family: 'Bitter', serif;
    font-weight: 900;
    top: 1.5vh;
    left: -1vw;
}

#nomi_input {
    width: 30vw;
    height: 4vh;
    margin: 0 1vw;
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
    padding-top: 1vh;
    margin-right: 1.5vw;
    left: 5vw;
}

#nomi_input2 {
    width: 30vw;
    height: 4vh;
    margin: 0 1vw;
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
    padding-top: 1vh;
}

#nomi_input3 {
    width: 33.3vw;
    height: 15vh;
    margin: 0 1vw;
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
    padding-top: 2vh;

}
#nomi_input4 {
    width: 48vw;
    height: 4vh;
    margin: 0 1vw;
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
    padding-top: 1vh;
}

#form_buttonbox {
    display: flex;
    justify-content: center;
    height: 1.3vh;
}

#form_button {
    width: 13vw;
    height: 4vh;
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    padding-top: 1vh;
}

#register_button {
    margin-top: 1.5vh;
    width: 13vw;
    height: 4vh;
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
    background-color: #FFE29A;
    cursor: pointer; 
    border-radius: 10px;
    color: black;
    padding-top: 1.5vh;
}

#register_button:hover{
    background-color: #ff0000;
    color: rgb(255, 255, 255);
}


#nomi_form {
    border: solid rgb(96, 95, 97);
    padding: 5vh;
    padding-bottom: 0;
}

#no_pro{
    position: absolute;
    width: 13vw;
    height: 11vw;
    padding:1px;
    border:3px solid #021a40;
}

#no_pro2{
    position: absolute;
    width: 13vw;
    padding:1px;
    border:3px solid #021a40;
}


#profile_div{
    font-size: 1.3vw;
    font-family: 'GangwonEdu_OTFBoldA';
    height: 30vh;
    bottom: 10vh;
}

#thumbnail{
    width: 11vw;
    height: 12vw;
    margin: 2vw;
    padding:1px;
    margin-left: 7vw;
    border:3px solid #021a40;
}

#profile_name{
    font-size: 2vw;
    position: relative;
    /* top: 1vh; */
    bottom: 22vh;
    
}

#add_div{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    
}

#add_image{
    margin: 1.5vw;
    padding:1px;
    border:3px solid #021a40;
    height: 11vw;
}

#profile_desc{
    position: relative;
    width: 40vw;
    left: 20vw;
    bottom: 20vh;
}

#profile_update{
    width: 4vw;
    height: 4vh;
    padding-top: 1.5vh;
    font-size: 1.3vw;
    background-color: #FFE29A;
    border-radius: 10px;
    font-family: 'GangwonEdu_OTFBoldA';
    position:relative;
    color: black;
    bottom: 22vh;
    left: 1vw;
}
#profile_del{
    width: 4vw;
    height: 4vh;
    padding-top: 1.5vh;
    font-size: 1.3vw;
    background-color: #FFE29A;
    border-radius: 10px;
    color: black;
    font-family: 'GangwonEdu_OTFBoldA';
    position:relative;
    bottom: 22vh;
    left: 2vw;
}


#profile_update:hover{
    background-color: blue;
    color: white;
}

#profile_del:hover{
    background-color: red;
    color: white;
}




#profile_gallery{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.3vw;
    color: blue;
    margin-top: 1vh;
}

#distinct_box{
    position: relative;
    height: 1vh;
    width: 52vw;
    left: 7.7vw;
    border-bottom: dashed;
    margin-bottom: 4vh;
}