
.accordion {
    width: 50vw;
    top: 45vh;
    left: 24vw;
}

.appbar {
    background-color: #ffffff00;
    box-shadow: none;
}

.tab{
    color: #000000;
    font-family: "RussoOne";
    font-size: 1.5vw;
}

.aaccordiontitle {
    font-family: "ROKAFSansMedium";
    font-weight: bold;
    font-size: 0.9vw;
}

.aaccordioncontent {
    font-family: "GangwonEdu_OTFBoldA";
    font-weight: bold;

    background-color: rgba(173, 217, 255, 0.164);
    border-radius: 1vh;
}

.aaccordioncolor {
    background-color: #3afaca15;
    border: 0.2vh solid #000000;
}
.aaccordioncolor2 {
    background-color: rgba(173, 217, 255, 0.116);
    border: 0.1vh solid #000000;
}

.button{
    position: relative;
    left: 0.1vw;
    top: 0.2vh;
    width: 5vw;
    height: 3.5vh;
    background-image: url(https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/24/000000/external-arrow-arrow-line-royyan-wijaya-detailed-outline-royyan-wijaya-31.png);
    background-repeat: no-repeat;
    background-position:center;
    background-color: #00000000;
}

.contentTitle{
    font-family: 'ROKAFSansMedium';
}

.contentC{
    width:35vw; 
    height:30vh;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.3vw;
}

.close{
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.3vw;
    color: #155041e7;
}

.page{ 
    background-color: #5bdaba44;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RussoOne";
    src: url(../../fonts/RussoOne-Regular.ttf);
}
@font-face {
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');