.background_test {
  background: linear-gradient(
      180deg,
      rgba(242, 248, 170, 0.2) 0%,
      rgba(251, 217, 233, 0.2) 60.79%
    ),
    linear-gradient(
      120deg,
      rgba(255, 215, 232, 0.8) 0%,
      rgba(219, 255, 247, 0.8) 100%
    );
  margin: 0;
}

/* 스크롤바 설정*/
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바 막대 설정*/
.scrollbar::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: #77a3a9;
    border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.scrollbar::-webkit-scrollbar-track{
    background-color: rgba(221, 252, 244, 0.8);
}

.swal2-container {
  z-index: 1500 !important;
}